Source: sqlite3-debversions
Priority: optional
Maintainer: Michael Vogt <mvo@ubuntu.com>
Build-Depends: debhelper (>= 7), libsqlite3-dev, pkg-config, libapt-pkg-dev
Standards-Version: 3.8.4
Section: libs
Vcs-Bzr: lp:~mvo/sqlite3-debversions/trunk

Package: sqlite3-debversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Custom collate function to sort by debversion
 This SQLite loadable extension adds a custom COLLATE function
 that allow to sort by debian version numbers.
